<launch>
<arg name="bag_file" />

    <node pkg="rosbag" type="play" name="play" output="screen" args="--bags $(arg bag_file) --clock --topics /tf /encoder /lidar/scan /HarkSource /camera/front/rgb/image_color/compressed /odometry/filtered /person_detection/people  /clock " />

</launch>

<!--
roslaunch cartesian_likelihood_field play_bag.launch bag_file:=`pwd`/1.bag
-->
