<launch>
     <arg name="bagfile" default="/home/autolab/ros/workspace/rosbag/pioneerTests/human_1.bag" /> 
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bagfile)"/>
	<node pkg="Pioneer-HRI" name="likelihood_field" type="likelihood_field" output="screen" launch-prefix="xterm -e gdb --args"/>
	<node pkg="Pioneer-HRI" name="leg_detection" type="leg_detection" output="screen"/>
</launch>


<!-- TODO -->
<!--    show the FOV of each sensor  -->
<!--    add visualization to leg_detection node [Partially DONE] -->
<!--    combine and visualize results -->
<!--    include sensor hysteresis reduction -->
