<launch>
    <arg name="namespace" default="" />
     <node pkg="autonomy_human" name="autonomy_human" type="autonomy_human" output="screen" cwd="node" >
<!--
        <param name="cascade_file" value="/home/autolab/Downloads/OpenCV-2.4.3/data/haarcascades/haarcascade_mcs_upperbody.xml" />
-->
        <param name="cascade_profile_file" value="$(find autonomy_human)/cascades/haarcascade_profileface.xml" />
        <param name="landmarks_file" value="$(find autonomy_human)/landmarks/shape_predictor_68_face_landmarks.dat" />
        <param name="profile_hack_enabled" value="false" />
        <param name="skin_enabled" value="false" />
        <param name="gesture_enabled" value="false" />
        <param name="initial_min_score" value="5" />
        <param name="initial_detect_frames" value="6" />
        <param name="initial_reject_frames" value="6" />
        <param name="min_flow" value="10" />
        <param name="min_face_width" value="12" />
        <param name="min_face_height" value="18" />
        <param name="max_face_width" value="90" />
        <param name="max_face_height" value="120" />
        <param name="debug_mode" value="2" />
        <remap from="input_rgb_image" to="ardrone/image_raw" />
      </node>
      <!--

      <node pkg="image_view" name="debugimage" type="image_view">
        <param name="autosize" value="true" />
        <remap from="image" to="output_rgb_debug" />
      </node>\
      -->

</launch>
