<launch>
    <include file="$(find likelihood_grid)/launch/likelihood.launch"/>

    <include file="$(find oth_behavior)/launch/oth_close.launch"/>
    <include file="$(find likelihood_grid)/launch/openni.launch"/>
    <include file="$(find likelihood_grid)/launch/lms111-horizontal.launch"/>
    <include file="$(find hark_msgs)/launch/hark.launch"/>

    <node pkg="sound_relay" name="sound_relay" type="sound_relay.py" />
    <include file="$(find sound_play)/soundplay_node.launch"/>
</launch>



