<launch>
    <group ns="lidar">
        <group ns="front">
         <node pkg="tf" type="static_transform_publisher" name="tf"
                            args="0.4127 0 0.2212 0 0 3.14159 base_link front_laser 20"/>

         <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
                <param name="~host" value="192.168.1.14" />
                <param name="~frame_id" value="front_laser"/>
         </node>
     </group>
  </group>
</launch>
