<launch>
    <include file="$(find likelihood_grid)/launch/likelihood.launch"/>
    <include file="$(find likelihood_grid)/launch/play_bag.launch">
        <arg name="bag_file" value="/home/autolab/ros/bags/likelihood_grid/feb17/7.bag"/>
    </include>

    <node pkg="image_transport" type="republish" name="republish" args="compressed in:=/camera/front/rgb/image_color _image_transport:=compressed raw out:=/camera/front/rgb/image_color" output="screen">
    </node>

    <param name="use_sim_time" value="true"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find likelihood_grid)/cfg/rviz/demo.rviz"/>
</launch>


