<launch>
<arg name="bag_file" />

    <node pkg="rosbag" type="play" name="play" output="screen" args="--bags $(arg bag_file) --clock --topics /tf /encoder /lidar/front/scan /HarkSource /camera/front/rgb/image_color/compressed /clock /state /robosay /maximum_probability" />

</launch>

<!--
roslaunch likelihood_grid play_bag.launch bag_file:=`pwd`/1.bag
-->
