<launch>
<arg name="bag_file" />

    <node pkg="rosbag" type="play" name="play" output="screen" args="--bags $(arg bag_file) --clock --topics /tf /encoder /lms111/scan /HarkSource /camera/front/rgb/image_color/compressed /odometry/filtered /clock /teleop/joy " />

</launch>

<!--
roslaunch likelihood_grid play_bag.launch bag_file:=`pwd`/1.bag
-->
